# Dependências
node_modules/
.pnpm-store/

# Artefatos de Build e Saídas de Compilação
dist/
dist-ssr/
*.local

# Segurança & Variáveis de Ambiente (Segredos)
.env
.env.*
!.env.example

# Arquivos Temporários da CLI do Supabase
supabase/.temp/
supabase/.branches/

# Editor / IDE (VS Code)
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs de Execução e Testes
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
coverage/

# Arquivos de Sistema Operacional
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db